<div class="team-wrapper"  data-aos="zoom-in">
    <h3 id="ourTeam"  data-aos="zoom-out">À propos de l'application</h3>
    <div class="csel"  data-aos="fade-up">
        <owl-carousel-o [options]="customOptions"> 
            <ng-template carouselSlide>
              <div class="item">
                    <div class="avatar">
                      <img src="/assets/avatars/login.jpg" alt="slide">
                    </div>
                  <!-- <h4 class="name">Issam Lamkadem</h4>
                  <p class="occupation">Web Developer</p> -->
                </div>
            </ng-template>  
            <ng-template carouselSlide>
              <div class="item">
                    <div class="avatar">
                      <img src="/assets/avatars/landingPage.png" alt="slide">
                    </div>
                  <!-- <h4 class="name">Ossama Kharkhach</h4>
                  <p class="occupation">Cyber Security Specialist</p> -->
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="item">
                      <div class="avatar">
                        <img src="/assets/avatars/details.png" alt="slide">
                      </div>
                    <!-- <h4 class="name">Meryem Jarboua</h4>
                    <p class="occupation">E-Marketing Strategist</p> -->
                  </div>
            </ng-template>   
            <ng-template carouselSlide>
              <div class="item">
                    <div class="avatar">
                      <img src="/assets/avatars/panier.jpg" alt="slide">
                    </div>
                  <!-- <h4 class="name">Mohammed Azhaf</h4>
                  <p class="occupation">UI/UX Designer</p> -->
                </div>
            </ng-template>   
            <ng-template carouselSlide>
              <div class="item">
                    <div class="avatar">
                      <img src="/assets/avatars/map.jpg" alt="slide">
                    </div>
                  <!-- <h4 class="name">Azeddine Gharrady</h4>
                  <p class="occupation">Software Engineer</p> -->
                </div>
            </ng-template>  

            <ng-template carouselSlide>
              <div class="item">
                    <div class="avatar">
                      <img src="/assets/avatars/info.png" alt="slide">
                    </div>
                  <!-- <h4 class="name">Oualid Achrif</h4>
                  <p class="occupation">Cyber Security Specialist</p> -->
                </div>
            </ng-template>              
            <!-- <ng-template carouselSlide>
              <div class="item">
                    <div class="avatar">
                      <img src="/assets/avatars/far.jpeg" alt="slide">
                    </div>
                  <h4 class="name">Farida Soussi</h4>
                  <p class="occupation">Web Developer</p>
                </div>
            </ng-template>   -->
          </owl-carousel-o>
    </div>
</div>