<div class="csel" data-aos="zoom-in-left" data-aos-delay="300">
  <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
          <div class="item">
              <div class="img">
                  <div class="image">
                    <img src="/assets/KFC.jpg" alt="slide" >
                  </div>
              </div>
              <div class="caption">
                <h4 class="mb-1 mt-4">KFC</h4>
                <p class="mb-0">Restaurant de poulet frit</p>
            </div>
            </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="item">
              <div class="img">
                  <div class="image">
                    <img src="/assets/macdo.jpg" alt="slide">
                  </div>
              </div>
              <div class="caption">
                <h4 class="mb-1 mt-4">McDonald's</h4>
                <p class="mb-0">Restaurant de burgers</p>
            </div>
            </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="item">
              <div class="img">
                  <div class="image">
                    <img src="/assets/pizza.jpg" alt="slide">
                  </div>
              </div>
              <div class="caption">
                <h4 class="mb-1 mt-4">Pizza Hut</h4>
                <p class="mb-0">Restaurant de pizzas</p>
            </div>
            </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="item">
              <div class="img">
                  <div class="image">
                    <img src="/assets/king.jpg" alt="slide">
                  </div>
              </div>
              <div class="caption">
                <h4 class="mb-1 mt-4">Burger King</h4>
                <p class="mb-0">Restaurant de sandwiches</p>
            </div>
            </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="item">
              <div class="img">
                  <div class="image">
                    <img src="/assets/starbucs.jpg" alt="slide">
                  </div>
              </div>
              <div class="caption">
                <h4 class="mb-1 mt-4">Starbucks</h4>
                <p class="mb-0">Café et boissons</p>
            </div>
            </div>
      </ng-template>
  </owl-carousel-o>
</div>
