<div class="testimonials-wrapper">
  <h3 id="testimonials" data-aos="fade-up">Nos clients sont ravis de leur expérience avec Makla</h3>
  <div class="csel" data-aos="zoom-in">
      <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
              <div class="item">
                  <div class="left">
                      <div class="logo">
                          <img src="/assets/testimonials/person3.jpg" alt="slide" style="object-fit: cover; width: 100%; height: 100%;">
                      </div>
                  </div>
                  <div class="right">
                    <h4 class="name">Sophie Martin</h4>
                    <p class="occupation">Client fidèle de Makla</p>
                    <p class="content">Makla a changé la donne pour moi ! Des plats délicieux livrés rapidement à ma porte, un service client exceptionnel et une variété de restaurants incroyables à portée de main. Je recommande vivement Makla à tous les amateurs de bonne cuisine.</p>
                    <p></p>
                </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="item">
                  <div class="left">
                      <div class="logo">
                          <img src="/assets/testimonials/person2.jpg" alt="slide" style="object-fit: cover; width: 100%; height: 100%;">
                      </div>
                  </div>
                  <div class="right">
                    <h4 class="name">Marc Dubois</h4>
                    <p class="occupation">Utilisateur régulier de Makla</p>
                    <p class="content">Grâce à Makla, je découvre de nouveaux plats délicieux chaque semaine. Le suivi de commande est précis, la livraison est toujours à l'heure et le choix de restaurants est impressionnant. Makla a définitivement rendu mes repas beaucoup plus agréables !</p>
                    <p></p>
                </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="item">
                  <div class="left">
                      <div class="logo">
                          <img src="/assets/testimonials/person4.jpg" alt="slide" style="object-fit: cover; width: 100%; height: 100%;">
                      </div>
                  </div>
                  <div class="right">
                    <h4 class="name">Léa Garcia</h4>
                    <p class="occupation">Nouvelle utilisatrice de Makla</p>
                    <p class="content">Je suis impressionnée par la rapidité de la livraison et la qualité des plats proposés par Makla. C'est devenu mon compagnon idéal pour les repas, surtout quand je veux quelque chose de différent sans sortir de chez moi.</p>
                    <p></p>
                </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="item">
                  <div class="left">
                      <div class="logo">
                          <img src="/assets/testimonials/person1.jpg" alt="slide" style="object-fit: cover; width: 100%; height: 100%;">
                      </div>
                  </div>
                  <div class="right">
                      <h4 class="name">John Smith</h4>
                      <p class="occupation">RESPONSABLE INFORMATIQUE</p>
                      <p class="content">Nous utilisons les services de maintenance et de sécurité logicielle de CHABIBA depuis plusieurs années et nous sommes extrêmement satisfaits des résultats. Leur équipe est compétente et proactive pour identifier et résoudre les problèmes avant qu'ils ne deviennent majeurs. Notre logiciel fonctionne de manière fluide et sécurisée, grâce à leur expertise.</p>
                      <p></p>
                  </div>
              </div>
          </ng-template>
          <!-- <ng-template carouselSlide>
              <div class="item">
                  <div class="left">
                      <div class="logo">
                          <img src="/assets/testimonials/fingo.svg" alt="slide">
                      </div>
                  </div>
                  <div class="right">
                      <h4 class="name">Jane Doe</h4>
                      <p class="occupation">RESPONSABLE MARKETING</p>
                      <p class="content">Les services de référencement de CHABIBA nous ont aidés à mieux nous positionner dans les résultats de recherche et à attirer plus de prospects qualifiés. Leur équipe a pris le temps de comprendre notre entreprise et notre secteur d'activité, et leurs stratégies sont adaptées à nos besoins spécifiques. Je recommande vivement leurs services à toute entreprise souhaitant améliorer sa visibilité en ligne.</p>
                      <p></p>
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="item">
                  <div class="left">
                      <div class="logo">
                          <img src="/assets/testimonials/truck.svg" alt="slide">
                      </div>
                  </div>
                  <div class="right">
                      <h4 class="name">Alex Rodriguez</h4>
                      <p class="occupation">FONDATEUR DE STARTUP</p>
                      <p class="content">J'ai été impressionné par les outils de productivité et les solutions logicielles de CHABIBA. Ils nous ont aidés à rationaliser nos opérations et à rester organisés, ce qui était crucial pour notre start-up en pleine croissance. Leur équipe est réactive et facile à travailler, et leurs solutions sont conviviales et efficaces. Je recommande vivement leurs services à toute entreprise cherchant à améliorer sa productivité.</p>
                      <p></p>
                  </div>
              </div>
          </ng-template> -->
      </owl-carousel-o>
  </div>
</div>
