.csel {
  width: 50%;
  margin: auto;
  min-width: 900px;
}
.item {
  background: #fff;
  border-radius: 24px;
  display: flex;
  height: 40vh;
  min-height: 400px;
}
.left {
  width: 50%;
  /* background: #b1c2ff35; */
  background: #ffffff35;
  position: relative;
  border-radius: 24px;
}
.left .logo {
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  object-fit: contain;
  height: 100%;
}
.right {
  width: 50%;
}
.testimonials-wrapper {
  margin-top: 10vh;
  padding-bottom: 10vh;
}
h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  color: var(--black);
  margin-bottom: 10vh;
  position: relative;
  width: fit-content;
  margin: auto;
  z-index: 10;
  margin-bottom: 50px;
}
h4 {
  margin-left: 10%;
  margin-top: 12%;
  color: #09191f;
  font-size: 20px;
  font-weight: 400;
}
p.occupation {
  color: rgba(9, 25, 31, 0.4);
  font-size: 15px;
  font-weight: 500;
  width: 80%;
  margin-left: 10%;
}
p.content {
  width: 70%;
  margin-left: 10%;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 400;
  color: #797988;
}
h3#testimonials:before {
  position: absolute;
  content: "";
  height: 154%;
  width: 110px;
  background: #d7dbff;
  z-index: -2;
  border-radius: 35px;
  border-bottom-left-radius: 80px;
  border-top-left-radius: 25px;
  top: -45%;
  right: -3%;
  transform: rotate(30deg);
}
