<div class="whatwedo">
    <div class="left">
        <div class="leftcontent" >
            <h3 id="whatWeDo" data-aos="zoom-out">
                Comment Makla peut vous aider ?
            </h3>
            <p data-aos="zoom-out">
                Nous vous aidons à <span>découvrir</span>, <span>commander</span>, et <span>savourer</span> une variété de plats délicieux, livrés directement chez vous.
            </p>
            <a href="request-form" data-aos="zoom-in" class="btn">Télécharger l'application</a>
        </div>
    </div>
    <div class="right">
        <div class="line" data-aos="fade-up">
            <div class="service webdev" data-aos="fade-up">
                <div class="imgwrapper">
                    <img src="/assets/livreur.png" alt="webdev">
                </div>
                <h4>Livraison Rapide</h4>
                <p>Faites-vous livrer vos plats préférés rapidement, où que vous soyez, grâce à notre service de livraison efficace.</p>
              </div>
            <div class="service seo">
                <div class="imgwrapper" id="whatwedo" data-aos="fade-down">
                    <img src="/assets/unicorn.png" alt="seo">
                </div>
                <h4>Large Choix de Restaurants</h4>
                <p>Découvrez une large gamme de restaurants proposant diverses cuisines pour répondre à tous les goûts et préférences.</p>
           </div>
        </div>
        <div class="line" data-aos="fade-up">
            <div class="service secu" data-aos="fade-up">
                <div class="imgwrapper">
                    <img src="/assets/track.png" alt="security">
                </div>
                <h4>Suivi de Commande</h4>
                <p>Suivez votre commande en temps réel depuis le restaurant jusqu'à votre porte pour une expérience de livraison transparente.</p>
         
            </div>
            <div class="service smma" data-aos="fade-down">
                <div class="imgwrapper">
                    <img src="/assets/flex.png" alt="smma">
                </div>
                <h4>Facilité d'Utilisation</h4>
                <p>Une application conviviale pour commander vos plats préférés en quelques clics, sans tracas.</p>
            
            </div>
        </div>
        </div>

