<div class="navbar-wrapper">
    <div class="logo">
        <a [routerLink]="'/'">
            <img src="/assets/Group.svg"/>
        </a>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a href="/" class="active">Accueil</a>
            </li>
            <li>
                <a href="#whatwedo">Ce que nous faisons</a>
            </li>
            <li>
                <a href="#testimonials">Témoignages</a>
            </li>
            <li>
                <a href="#ourTeam">Notre application</a>
            </li>
        </ul>
    </div>
    <div class="actions">
        <ul>
            <!-- <li>
                <a href="/login">
                    Connexion
                </a>
            </li> -->
            <li>
                <a href="/request-form" class="make-request">
                    Télécharger l'application 
                </a>
            </li>
        </ul>
    </div>
</div>