<div class="hero">
    <app-nav-bar></app-nav-bar>
    <div class="hero-wrapper">
        <div class="content"  data-aos="fade-in">
            <h1>
                Découvrez notre application  
                <div id=flip>
                    <div><div>Sélectionnez</div></div>
                    <div><div>Commandez</div></div>
                    <div><div>Dégustez</div></div>
                </div>
              </h1>
            <p class="para">
                <strong>Makla</strong>, votre destination pour explorer une variété de restaurants et commander vos plats préférés, livrés chez vous.
            </p>
            <p class="link">
                <a href="request-form" class="btn">
                    Télécharger l'application
                </a>
            </p>
        </div>
        <app-work-slider></app-work-slider>
    </div>
</div>